parameters:
    level: 4
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php
    excludePaths:
        - src/Resources/skeleton
    ignoreErrors:
        -
             message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\:\:arrayNode\(\)\.$#'
             count: 1
             path: src/DependencyInjection/StorybookExtension.php
